body{
    padding: 0em;
    margin: 0em;
    width: auto; 
    background-image: url(/images/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.topnav{
    display: flex;
    background-color: #333;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 4em;
    list-style-type: none;
    padding-left: 25em;
}
.logo{
    position: relative;
    height: 7em;
    left: -25em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


  
  
